:root,
[data-bs-theme=dark] {
  --red: #C80000;
  --grey: #30343F;
  --white: #F7F0F5;
  background-color: var(--grey);
}

body {
  margin: 0;
  background-color: var(--grey);
}

.btn {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--red);
  --bs-btn-border-radius: 10pt;
}

.btn-primary {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--red);
  --bs-btn-border-color: var(--red);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--red);
  --bs-btn-hover-border-color: var(--red);
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--red);
  --bs-btn-active-border-color: var(--red);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg: var(--red);
  --bs-btn-disabled-border-color: var(--red);
}

.modal {
  --bs-modal-color: var(--white);
  --bs-modal-bg: var(--grey);
}

.btn-close {
  --bs-btn-close-opacity: 1;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
}

.form-control {
  color: var(--white);
  background-color: transparent;
  border: 2.5pt solid var(--red);
  border-radius: calc(10pt - 5px);
}

.form-control:focus {
  color: var(--white);
  background-color: transparent;
  border-color: var(--red);
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(200, 0, 0, .25)
}

.form-control::-moz-placeholder {
  color: var(--white);
  opacity: 1
}

.form-control::placeholder {
  color: var(--white);
  opacity: 1
}

.form-control:disabled {
  background-color: transparent;
  opacity: 0.75
}

.form-select {
  color: var(--white);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  border: 2.5pt solid var(--red);
  border-radius: calc(10pt - 5px);
}

.form-select:focus {
  border-color: var(--red);
  box-shadow: 0 0 0 .25rem rgba(200, 0, 0, .25)
}

.form-select:disabled {
  background-color: transparent;
  opacity: 0.75;
}