
.questionCard {
    max-width: 607px;
    background-color: black;
    border-radius: 10pt;
    text-align: start;
    margin-left: 10pt;
    margin-right: 10pt;
}

.questionCardHeader {
    border-bottom: 1pt solid var(--white);
    padding-left: 20pt;
    padding-top: 15pt;
}