.quizzListItem {
    color: var(--white);
    margin: 15pt;
    cursor: pointer;
}

.quizzListItem div {
    background-color: black;
    border-radius: 50pt;
    max-width: fit-content;
    display: flex;
    padding: 10pt;
}

.quizzListItem div h1 {
    padding-right: 5pt;
    align-self: center;
}

.quizzListItem div p {
    display: block;
    text-align: left;
    max-width: 800px;
}

.quizzNameCard {
    max-width: 607px;
    background-color: black;
    border-radius: 10pt;
    text-align: justify;
    margin-left: 10pt;
    margin-right: 10pt;
}