.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.flexVCenter {
    display: flex;
    align-items: center;
    gap: 4px;
}

.flex {
    display: flex;
    gap: 4px;
}

.width100 {
    width: 100%;
}

.disableSelect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  } 